body { 
  font-family: Helvetica, sans-serif;
  background-color: #b9779d;
  text-align: center;
}

#main-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

h2 {
  margin: 0 10px;
  padding: 15px 10px;
  font-size: 1.2em;
}

#main-buttons button {
  margin: 0 10px;
  padding: 10px 60px;
  font-size: 1.2em;
  border-radius: 80px;
  background-color: #80070f;
  color: rgb(251, 251, 251);
  border: none;
  box-shadow: 5px 5px #D3D3D3;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#main-buttons button:hover {
  background-color: #8f3753;
  transform: scale(1.1);
}

#game-area {
  display: flex;
  justify-content: center;
}

#score-area {
  display: flex;
  justify-content: center;
}

#score-area-2 {
  display: flex;
  justify-content: center;
}

.round-box-1 {
  background-color: #80070f;
  grid-column: 1/2;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px gray;
}

.round-box-2 {
  background-color: #80070f;
  grid-column: 2/3;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px gray;
}

.round-box-3 {
  background-color: #80070f;
  grid-column: 3/4;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px gray;
}

.round-box-1, .round-box-3 {
  font-family: 'Courier New', Courier, monospace;
  width: 13%; 
  margin: 0 10px;
  color:#ffffff;
  flex-shrink: 0;
}

.round-box-2 {
  font-family: 'Courier New', Courier, monospace;
  width: 13%; 
  margin: 0 10px;
  color:#ffffff;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 25px;
  background-color: #006400;
  color: white;
  border: none;
  box-shadow: 5px 5px #D3D3D3;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #3CB371;
  transform: scale(1.1);
}