@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Slab&display=swap');

#container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#title {
    font-size: 2em;
    margin-bottom: 20px;
}

#result {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#weapons {
    display: flex;
    justify-content: center;
}

#weapons, button {
    font-size: 1.3em;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5 px;
    border: none;
    background-color: #5f5;
    color: #fff;
    cursor: pointer;
}

#weapons, button:active {
    transform: scale (0.95);
}