body {
  background-color: #ffffff;
  text-align: center;
}

#main-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#main-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 25px;
  background-color: #80070f;
  color: rgb(10, 9, 9);
  border: none;
  box-shadow: 2px 2px #D3D3D3;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#main-buttons button:hover {
  background-color: #8f3753;
  transform: scale(1.1);
}

#game-area {
display: flex;
justify-content: center;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 25px;
  background-color: #006400;
  color: white;
  border: none;
  box-shadow: 2px 2px #D3D3D3;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #3CB371;
  transform: scale(1.1);
}